<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tingtel.app">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".Methods.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RequestPermissionActivity"
            android:label="@string/title_activity_request_permission"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TransferAirtimeActivity"
            android:label="@string/title_activity_transfer_airtime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListUssdActivity"
            android:label="@string/title_activity_list_ussd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BalanceActivity"
            android:label="@string/title_activity_balance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowMessage"
            android:label="@string/title_activity_show_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".Services.USSDCODEService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ussd_service" />
        </service>

        <receiver android:name=".Services.MessageReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>